.app-container {
  background: #e9e9e9;
  padding: 30px 0 50px 0;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;

}

.header-text {
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-size: 25px;
}

.icon {
  text-decoration: none;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
  padding: 0 10px;
}

.git {
  color: #333;
}

.linkedin {
  color: #0077B5;
}

.icon:hover {
  opacity: 1;
}

.email {
  padding: 10px;
  font-style: oblique;
}
