<div class="jumbotron">
  <div class="container">

    <div class="col-12 text-center">
      <h1>Welcome to Register & Login Panel Demo!</h1>
      <!--<router-outlet></router-outlet>-->
      <!--<app-register></app-register>-->
    </div>

  </div>
</div>

<div class="contact text-center">

  <a mdTooltip="GitHub" class="icon git fa fa-github fa-3x" href="https://github.com/pawelidziak" target="_blank"></a>
  <a mdTooltip="LinkedIn" class="icon linkedin fa fa-linkedin-square fa-3x" href="https://www.linkedin.com/in/pawel-idziak/"
     target="_blank"></a>
  <p class="email">pa.idziak@gmail.com</p>

</div>
