<section class="app-container">
  <div class="container">

    <div class="text-center">
      <h1>Register & Login Panel Demo!</h1>
      <p>Angular 4 & ASP.NET Core 2</p>
    </div>
    <router-outlet></router-outlet>

  </div>
</section>

<div class="contact text-center">
  <a placement="top" ngbTooltip="GitHub" class="icon git fa fa-github fa-3x" href="https://github.com/pawelidziak" target="_blank"></a>
  <a placement="top" ngbTooltip="LinkedIn" class="icon linkedin fa fa-linkedin-square fa-3x"
     href="https://www.linkedin.com/in/pawel-idziak/" target="_blank"></a>
  <p class="email">pa.idziak@gmail.com</p>
</div>
